#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.menu-button{
   width: 150;  height: 150; object-Fit: cover; display: block;
}
@media (max-width: 600px) {
  .menu-button {
    width: 90px;
    height: 90px;
  }
}


.card {
  padding: 2em;
}


.white-underline-textfield .MuiInput-underline:before {
  border-bottom-color: white;
}

.white-underline-textfield .MuiInput-underline:hover:before {
  border-bottom-color: white;
}

.white-underline-textfield .MuiInput-underline:after {
  border-bottom-color: white;
}

.white-underline-textfield label {
  color: white;
}

.white-underline-textfield label.Mui-focused {
  color: white;
}

.white-underline-textfield input,
.white-underline-textfield textarea {
  color: white;
}

.white-select-textfield .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.fc {
  color: white;
}

.fc a {
  color: white;
}