* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system, monospace
  
  ;
}

body {
  background: linear-gradient(150deg, #000000, #000000, #000000);
  background-attachment: fixed;
}