* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system, monospace
  
  ;
}

body {
  background: linear-gradient(200deg, #626160, #626160, #626160);
  background-attachment: fixed;
}