* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system, monospace
  
  ;
}

body {
  background: linear-gradient(150deg, #5d5d5d, #2d2c2c, #302d2d);
  background-attachment: fixed;
}